<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="Email Szymona"
        android:theme="@style/Theme.EmailSzymona"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".InboxActivity" android:exported="false" />
        <activity android:name=".ComposeActivity" android:exported="false" />
        <activity android:name=".MessageViewActivity" android:exported="false" />

    </application>
</manifest>
